<div class="row">
    <div class="col-md-6">
        <app-child-projection [productList]="productList">
            <h1 #childData class="header">Up to 70% off | Electronics clearence store</h1>
            <a class="link" href="">Visit Store...</a>
        </app-child-projection>
    </div>
    
    <div class="col-md-6">
        <app-child-projection [productList]="topProductList">
            <h1 class="header">Top rated products</h1>
            <a class="link" href="">See More...</a>
        </app-child-projection>
    </div>
</div>