<!-- @if(isName) {
<h1>Kishor Phawade</h1>
}
@else {
<h1>Sunil</h1>
} -->


<!-- @for (name of nameList; track name?.id ) {
<h1>{{name?.name}}</h1>
} -->
<!-- {{name}} -->

<!-- @for (item of nameList; track item) {
  {{item?.name}} 'ggg'
}

<app-child-comp [userList]="nameList" (newItem)="getData($event)"></app-child-comp> -->

<h1>Angular Routing With Route Guards & Angular v17 Features</h1>
<!-- <nav>
  <ul>
    <li><a routerLink="./child-comp" routerLinkActive="active">Child Comp</a></li>
  </ul>
  <ul>
    <li><a routerLink="./second-comp" routerLinkActive="active">Second Comp</a></li>
  </ul>
</nav> -->

<nav class="navbar">
  <ul class="nav-list">
      <li class="nav-item"><a routerLink="./home" class="nav-link">Home</a></li>
      <li class="nav-item"><a routerLink="./user" class="nav-link">User</a></li>
      <li class="nav-item"><a routerLink="./admin" class="nav-link">Admin</a></li>
      <li class="nav-item"><a routerLink="./logout" class="nav-link">Logout</a></li>
      <li class="nav-item"><a routerLink="./defer" class="nav-link">Deferrable View</a></li>
      <li class="nav-item"><a routerLink="./view-child" class="nav-link">ViewChild & ViewChildren</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>